header > h1:hover {
  color: blue;
  text-align: center;
}

input:focus {
  background-color: aqua;
}

a:hover {
  color: black;
  background-color: gold;
}
a:link {
  color: lime;
  background-color: black;
}
a:active {
  color: aqua;
  background-color: purple;
}

a:visited{
    color: orange;
  background-color: forestgreen;
}

main h1 {
  color: darkcyan;
} 
section h3 {
  color: indigo;
} 

h1 + p:hover {
  color: crimson;
}

footer h1 {
  color: burlywood;
} 
footer  {
  text-align: center;
} 
section input:focus {
  background-color: lawngreen;
}
